@import "compass/reset";
@import "includes/fonts";
@import "includes/vars";
@import "includes/_extends";

html{
	font: 10px/1 Arial, Helvetica, sans-serif;
	font-weight: 400;
}
body{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.02) 0%, rgba(255,255,255,0.02) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.02)), color-stop(100%,rgba(255,255,255,0.02)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.02) 0%,rgba(255,255,255,0.02) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.02) 0%,rgba(255,255,255,0.02) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.02) 0%,rgba(255,255,255,0.02) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.02) 0%,rgba(255,255,255,0.02) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05000000', endColorstr='#05ffffff',GradientType=0 );
}
.wrapper {
	overflow: hidden;
}

@import "includes/sections/header";
@import "includes/sections/navigation";
@import "includes/sections/slider";
@import "includes/sections/services";


@media only screen and (min-width: 320px) and (max-width: 767px) {
	.header, .nav, .bxslider_item_wrap, .services{
		max-width: 767px;
		min-width: 320px;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.nav{
		padding-top: 12px;
		margin-left: 20px;
		min-width: 280px;
		padding-right: 40px;
	}
	.nav_menu{
		display: inline-block;
		font: 1.5rem/1 Arial, Helvetica, sans-serif;
		font-weight: 700;
		color: $color_nav_text;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAMAAAC+oj0CAAAABlBMVEX///8pMDiVGiB8AAAAAXRSTlMAQObYZgAAABNJREFUeAFjYMQKcAkPdjCivQMAeGQAheOJEuQAAAAASUVORK5CYII=)no-repeat;
		width: 22px;
		height: 20px;
		cursor: pointer;
		padding: 0 0 0 36px;
		line-height: 21px;
	}
	.nav_list{
		display: none;
		margin-top: 12px;
		padding-top: 30px;
		background: transparentize($color_nav_border, 0.05);
		position: relative;
		z-index: 1;
		box-shadow: 1px 1px 1px transparentize(#000, 0.7);
	}
	.expanded{
		display: block;
	}
	.nav_close{
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAMAAADto6y6AAAAbFBMVEX////8/f36+vr5+fr09PXz9PTs7O3r7Ozm5+jl5ufk5ebi4+Ti4+TX2Nq7vcC5vL65u72prK+pq6+nqq2VmZ2ChotxdntwdXpvdHphZmxgZmxgZWtUWWBTWV9SWF5RV11HTVRARk07Qkk7QUhBo1EMAAAAJHRSTlMAAwYHDQ4XGB4fICIjMFFTVGZnaX6VqaqrvL2+zM3Oz9vk6epvj7qhAAAAmUlEQVR4AX3Q0XKCMBCF4R8CtA0NhQoaBJWQ939HB4YJEnf87nf37AGNQMPPXPGmmr/BuIZI4wxAObUctFPJ6uvRJQRJdyvY5MM5ZZPaISdQts9YZb1V8Do/rvPFuG/dLwo5FidnluSC2vsaSeWlEqCJVgnHxbj3Y1wV3s2HS0qQXa2KSwjvRls/1S5k/HcGtP+TStDwi6DkCQg/CV4r+EwSAAAAAElFTkSuQmCC)no-repeat;
		width: 24px;
		height: 22px;
		position: absolute;
		top: 8px;
		right: 10px;
		cursor: pointer;
	}
	.nav_item{
		float: none;
	}
	.nav_link{
		display: block;
	}

	.bxslider_item{
		height: auto;
	}
	.bxslider_small_title, .bxslider_title, .bxslider_text{
		margin-left: 11%;
	}
	.bxslider_small_title{
		margin-top: 6%;
	}
	.bxslider_title{
		margin-top: 1%;
	}
	.bxslider_text{
		margin-top: 2%;
		padding-bottom: 82px;
	}
	.services_list{
		margin-left: -20px;
	}
	.services_item{
		box-sizing: border-box;
		padding-left: 20px;
	}
	.services_link{
		padding-left: 0;
		text-align: center;
		&::before{
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%) scale(2);
			-ms-transform: translate(-50%, -50%) scale(2);
			transform: translate(-50%, -50%) scale(2);
			opacity: 0.2;
		}
	}
}
@media only screen and (max-width: 700px) {
	.bxslider_small_title{
		font-size: 1.2rem;
		line-height: 22px;
	}
	.bxslider_title{
		font-size: 4.6rem;
		width: 470px;
		line-height: 40px;
	}
	.bxslider_text{
		font-size: 1.2rem;
		line-height: 20px;
		width: 420px;
	}
}
@media only screen and (max-width: 600px) {
	.search_form{
		display: none;
	}
	.services_list{
		margin-right: -1%;
	}
	.services_item{
		width: 33%;
		&:nth-child(4){
			margin-left: 16%;
		}
	}
}
@media only screen and (max-width: 550px) {
	.bxslider_small_title{
		font-size: 1.1rem;
		line-height: 18px;
	}
	.bxslider_title{
		font-size: 3rem;
		width: 300px;
		line-height: 28px;
	}
	.bxslider_text{
		font-size: 1.1rem;
		line-height: 16px;
		width: 300px;
	}
}
@media only screen and (max-width: 400px) {
	.services_list{
		margin-right: 0;
	}
	.services_item{
		width: 50%;
		&:nth-child(4){
			margin-left: 0;
		}
		&:last-child{
			margin-left: 25%;
		}
	}
}
@media only screen and (max-width: 350px) {
	.bxslider_small_title{
		font-size: 1.1rem;
		line-height: 18px;
	}
	.bxslider_title{
		font-size: 2.6rem;
		width: 250px;
		line-height: 24px;
	}
	.bxslider_text{
		font-size: 1.1rem;
		line-height: 14px;
		width: 250px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.header, .nav, .bxslider_item_wrap, .services{
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}
	.nav_list{
		padding-left: 68px;
	}
	.nav_link{
		padding: 0 12px;
	}
	[class^="services_link"]{
		padding-left: 20px;
		&::before{
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%) scale(2);
			-ms-transform: translate(-50%, -50%) scale(2);
			transform: translate(-50%, -50%) scale(2);
			opacity: 0.2;
		}
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	.header, .nav, .bxslider_item_wrap, .services{
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
	.nav_list{
		padding-left: 50px;
	}
	.nav_link{
		padding: 0 30px;
	}
}
@media only screen and (min-width: 1280px){
	.header, .nav, .bxslider_item_wrap, .services{
		width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
	.nav_list{
		padding-left: 30px;
	}
	.nav_link{
		padding: 0 50px;
	}
}