include includes/vars
include includes/mixins

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Логотип - инжиниринговая компания
		link(rel="stylesheet" href="styles/styles.css")
	body
		.wrapper
			include includes/sections/header
			include includes/sections/navigation
			include includes/sections/slider
			include includes/sections/services
		script(src="js/jquery-1.11.1.min.js")
		script(src="js/jquery.bxslider.min.js")
		script(src="js/scripts.js")