- var search={className:"search",labelText:"Search",type:"text"}
- var search_go={className:"search_go",labelText:"Search go",button:true}
- var nav=["О компании","Услуги","Обьекты","Закупки","Партнеры","Новости","Контакты"]
- var services=["Услуги проектирования","Строительно-монтажные работы","Экспертная деятельность","Техническое обслуживание","Испытательная лаборатория"]