$color_logo_title: #f29700;
$color_logo_text: #6f6f6f;
$color_search_border: #e5e5e5;
$color_nav_border: #dbddde;
$color_nav_text: #293038;
$color_nav_active_bg: #3c4148;
$color_services_hover_bg: #eee;
$color_services_border: #e6e6e6;