header.header
	a.logo(href="#" title="Логотип")
		img.logo_img(src="images/logo.png")
		.logo_name
			.logo_title Логотип
			.logo_text Инжиниринговая компания
	form.search_form(action="" method="post")
		+input(search)
		+input(search_go)