.slider
	ul.bxslider
		- for (var i=0; i<5; i++)
			li.bxslider_item
				.bxslider_item_wrap
					.bxslider_small_title Наши компетенции
					.bxslider_title Объекты	химической промышленности
					.bxslider_text Важнейшим преимуществом компании является способность проектировать и строить «под ключ». При этом данные процессы ведутся одновременно, что позволяет заказчику значительно сократить общий строительный цикл объекта.